/* Will be compiled down to a single stylesheet with your sass files */

.icon-check, .icon-check-empty {
    font-size: 1.3em;
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.label.label-primary {
    font-size: .9em;
}

body {
    padding-top: 100px;
}
@media (min-width: 970px) {
    .affix {
        position: fixed;
        /*top: 80px;*/
        width: 30%;
    }
}
.product-description{
    width: 80%;
    display: inline-block;
}
.product-hours{
    vertical-align: top;
}
.modal {
    display: block;
}
.hide {
    display: none;
}
.modal-dialog{
    background-color: white;
    margin-top: 15px;
}
.lead > span{
    color: #2a6496;
    cursor: pointer;
}
.detail-info{
    padding-top: 10px;
}


