<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Matrix</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="description" content="">
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="installationMatrixApp">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="components/es5-shim/es5-shim.js"></script>
<script src="components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-6">
            <div class="navbar-header" ng-controller="HeaderCtrl">
                <p class="navbar-text visible-md visible-lg"><i class="icon-inbox"></i> Welcome To Installation Matrix</p>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-cloak>{{menuname}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="menu('DNAdocument')">DNAdocument</a></li>
                            <li><a ng-click="menu('DNAweb')">DNAweb</a></li>
                            <li><a ng-click="menu('CUnifyWeb')">CUnifyWeb</a></li>
                            <li><a ng-click="menu('DNAvoice')">DNAvoice</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">

                <form class="navbar-form navbar-left" role="search">
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchText.Product">

                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </span>
                    </div>
                </form>

        </div>


    </nav>
    <ng-view></ng-view>
</div>

<script src="components/angular/angular.js"></script>
<script src="components/angular-resource/angular-resource.min.js"></script>
<script src="components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="components/angular-touch/angular-touch.min.js"></script>
<script src="components/angular-route/angular-route.min.js"></script>
<script src="components/angular-animate/angular-animate.min.js"></script>
<script src="components/bootstrap/ui-bootstrap-tpls-0.6.0.min.js"></script>
<script src="components/lodash/lodash.js"></script>

<!-- build:js scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/directives/checkbox.js"></script>
<script src="scripts/controllers/header.js"></script>
<script src="scripts/services/productChooser.js"></script>
<script src="scripts/controllers/checkout.js"></script>
<script src="scripts/services/checkout.js"></script>
<script src="scripts/services/getProducts.js"></script>
<script src="scripts/directives/removeItem.js"></script>
<script src="scripts/directives/modal.js"></script>
<script src="scripts/filters/removespace.js"></script>
<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    var _gaq = [
        ['_setAccount', 'UA-XXXXX-X'],
        ['_trackPageview']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>
</body>
</html>
