<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Product Information</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-4" ng-repeat="item in items">
                    <div class="well">
                        <p>
                        <h4>
                            <strong>{{item.businessUnit}}</strong>
                            hours: <span class="label label-default">{{item.totalHours}}</span>
                        </h4>
                        </p>
                        <div class="list-group">
                            <p class="list-group-item active">Info:</p>

                            <p class="list-group-item" ng-mouseenter="show = !show" ng-mouseleave="show = !show"
                               ng-repeat="p in item.products">
                                <span class="product-description">{{p.Product}}</span>
                                <span class="product-hours">{{p.TotalHours}}</span>
                                <close-button ng-if="show" reducetotal="reduce(p.ImplementationHours,item,$index)"/>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary" ng-click="addNewItem()"><i class="icon-plus"></i> add new
                    item
                </button>
                <button type="button" class="btn btn-primary" ng-click="closeQuote()"><i class="icon-off"></i> close
                    quote
                </button>
            </div>
        </div>
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-dialog">
                <div class="modal-header">
                    <h3>I'm a modal!</h3>
                </div>
                <div class="modal-body">
                    <ul>
                        <li ng-repeat="item in items">
                            <a ng-click="selected.item = item">{{ item }}</a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </div>

        </script>
    </div>
</div>