<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Product Information</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Hours</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="p in products | filter:searchText" id="{{p.Product|removespace}}">
                        <td style="width:119px">
                            <checkbox add="addItem(p)" remove="removeItem(p)" product="p.Product" checked="{{p.checked}}"/>
                        </td>
                        <td ng-click="p.show = !p.show" class="cursor">{{p.Product}}
                            <!--displays steps for implementing the product-->
                            <div ng-show="p.show">
                                <p class="detail-info">Below are the steps for implementing <span class="text-muted">{{p.product|uppercase}}</span></p>

                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Steps</th>
                                    <th>Hours</th>
                                </tr>
                                <tbody>
                                <tr ng-repeat="pd in p.productDetails">
                                    <td>{{pd.InstallationSteps}}</td>
                                    <td>{{pd.ImplementationHours}}</td>
                                </tr>
                                </tbody>

                            </table></div>
                        </td>
                        <td>{{p.TotalHours}}</td>
                    </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!--visible on desktop-->
        <div class="panel panel-default affix hidden-xs" data-spy="affix" data-offset-top="100">
            <div class="panel-heading">
                <h3 class="panel-title">Project Hours</h3>
            </div>
            <div class="panel-body">
                <p ng-if="items.length < 1">No Products Selected</p>
                <ul class="list-group">
                    <li class="list-group-item" ng-mouseenter="show = !show" ng-mouseleave="show = !show" ng-repeat="item in items">
                        <span class="lead"><span ng-click="scrollToView(item.Product)" class="cursor">{{item.Product}}</span> hours:</span>
                        <span class="label label-primary">{{item.TotalHours}}</span>
                        <button type="button" class="close pull-right" aria-hidden="true" ng-if="show"
                                ng-click="removeItem(item)">&times;</button>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <p class="lead">Total Hours: {{totalHours}}</p>
                <button type="button" class="btn btn-info" ng-click="checkOut()"><i class="icon-ok"></i> check-out</button>
            </div>
        </div>
        <!--visible for mobile device-->
        <div class="panel panel-default visible-xs">
            <div class="panel-heading">
                <h3 class="panel-title">Project Hours</h3>
            </div>
            <div class="panel-body">
                <p ng-if="items.length < 1">No Products Selected</p>
                <ul class="list-group">
                    <li class="list-group-item" ng-mouseenter="show = !show" ng-mouseleave="show = !show" ng-repeat="item in items">
                        <span class="lead">{{item.Product}} hours:</span>
                        <span class="label label-primary">{{item.ImplementationHours}}</span>
                        <button type="button" class="close pull-right" aria-hidden="true" ng-if="show"
                                ng-click="removeItem(item)">&times;</button>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <p class="lead">Total Hours: {{totalHours}}</p>
                <button type="button" class="btn btn-info" ng-click="checkOut()"><i class="icon-ok"></i>check-out</button>
            </div>
        </div>
    </div>
</div>